.container {
    display: grid;
    grid-template-columns: 45px auto 300px;
    grid-template-rows: 40px auto;
    grid-template-areas:
        "info header inspector"
        "tools map inspector";
}