.fitted {
    object-fit: contain;
}

.selected {
    filter: brightness(50%);
}

.toolTip {
    position: relative;
}

.toolTip .toolTipText {
    left: 100%;
    visibility: hidden;
    width: 140px;
    background-color: rgb(22, 22, 22);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    user-select: none;
}

.toolTip:hover .toolTipText {
    visibility: visible;
}