.container {
    display: grid;
    grid-template-columns: 50px auto 300px;
    grid-template-rows: 50px auto;
    grid-template-areas:
        "info header inspector"
        "tools map inspector";
}